@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:ital,wght@0,400;0,600;1,400;1,600&family=Red+Hat+Text:ital,wght@0,400;0,600;1,400;1,600&display=swap');

:root {
    font-family: 'Red Hat Text', 'Roboto', sans-serif;
    font-size: 16px;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
}

#left-side {
    width: 50vw;
    background-image: url(./material/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 160px 0 16px 0;
}

#logo>span {
    color: white;
    font-family: "Red Hat Mono", "Roboto Mono", monospace;
    font-size: 3rem;
}

#logo>img {
    height: calc(3rem + 56px);
}

#logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 50%);
    padding: 24px;
}

#credits {
    color: white;
    font-size: 0.75rem;
    text-align: center;
}

#credits a {
    color: white;
}
#credits a:visited {
    color: rgb(192, 225, 130);
}


#right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ebefe8;
}

h2 {
    margin: 0 48px 1.25em 48px;
    font-weight: 400;
}

h1 {
    margin: 0 0 12px 0;
    font-family:"Red Hat Mono",
        "Roboto Mono",
        monospace;
    font-size: 36px;
}

form>div {
    background-color: white;
    box-shadow: 0 6px 8px -3px rgba(0, 0, 0, 50%);
    padding: 48px;
}

fieldset {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 48px;
    border: none;
}

fieldset>div {
    margin-top: 24px;
    min-width: 25%;
    flex: auto;
    display: flex;
    flex-direction: column;
}

label {
    text-transform: uppercase;
    font-family: "Red Hat Mono", "Roboto Mono", monospace;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 8px;
}

input {
    appearance: none;
    height: 2.25rem;
    border: 1px solid #aaa;
    border-radius: 4px;
    box-sizing: border-box;
}

input:focus {
    background-color: hsla(92, 20%, 35%, 25%);
}

button {
    margin: 32px 48px 18px;
    border: none;
    border-radius: 8px;
    background-color: #596D48;
    color: white;
    font-family: "Red Hat Mono", "Roboto Mono", monospace;
    font-size: 18px;
    padding: 12px 56px;
}

button+span {
    display: block;
    margin-left: 48px;
}

a {
    font-family: "Red Hat Mono",
        "Roboto Mono",
        monospace;
    font-weight: 600;
    color: #596D48;
}

a:visited {
    color: #ca7112;
}